@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.chat-container {
  position: fixed;
  top: 50%; 
  right: 10px;
  margin-right: 50px;
  transform: translateY(-50%); 
  width: 280px; 
  padding: 20px;
  background-color: #dd9441bc;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.chat-messages {
  height: 350px; 
  overflow-y: auto;
}

.chat-input {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.chat-input input {
  width: 100%;
  flex: 1; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  background-color: white; 
  overflow: hidden; 
}

.chat-input button {
  margin-left: 10px; 
}

.chat-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-top: -12px;
  margin-bottom: 12px; 
  text-align: center;
}