@import "../theme";

.FriendsPopover {
  &.popover-container {
    position: relative;
    display: inline-block;
  }

  &.popover-content {
    position: absolute;
    z-index: 2;
    min-width: 500px;
    height: 500px;
    top: calc(100% + 20px);
    right: -75px;
    background-color: $accent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border: 2px solid #2a2c2e;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }

  &.column {
    flex: 1;
    padding: 10px;
    border-right: 1px solid #000000;
    &:last-child {
      border-right: none;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: auto;
  }

  &.title {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold; 
    color: black;
    width: 100%;
  }

  &.friends-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }

  &.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  &.username {
    font-size: 16px;
    color: black;
    width: 100%;
  }

  &.check, &.cross, &.invite {
    cursor: pointer;
  }

  &.img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 24px;
  }

  // &.requester {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  //   justify-content: flex-start;
  //   width: 100%;
  // }

  &.popover-content::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 77%;
    transform: translateX(-50%);
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent $accent transparent;
  }
}
