@import "../theme";

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */

.game {
  &.container {
    background: $background;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: $dropShadow;
  }
  &.user-list {
    list-style: none;
    padding-left: 0;
  }
  &.user-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  & p,h2 {
    margin: 0.5em 0;
  }
  .selected {
    outline: 2.5px solid black;
  }
}

.player {
  &.container {
    margin: 0.5em 0;
    width: 20em;
    padding: 10px;
    border-radius: $borderRadius;
    display: flex;
    align-items: center;
    background: lighten($background, 5);
  }
  &.name {
    font-weight: 300;
    margin-left: 5px;
  }
  &.username {
    font-weight: 500;
    color: $accent;
  }
  &.id {
    margin-left: auto;
    margin-right: 10px;
    font-family: $fontMono;
    font-weight: 300;
  }
}
 
.chat-container {
  position: fixed;
  top: 50%; 
  right: 10px; 
  transform: translateY(-50%); 
  width: 280px; 
  padding: 20px;
  background-color: #8f58c4;
  border: 1px solid #ccc;
  border-radius: 8px;
}


.chat-messages {
  height: 350px; 
  overflow-y: auto;
}


.chat-input {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.chat-input input {
  flex: 1; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  background-color: white; 
  overflow: hidden; 
}

.chat-input button {
  margin-left: 10px; 
}

.chat-title {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-top: -12px;
  margin-bottom: 12px; 
  text-align: center;
}