@import "../theme";

.LogOrRegAndRulesForm {
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    height: 40em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  &.game-rules {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    height: 216px;
    color: $textColor;
        
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  &.img-form {
    margin-top: 1em;
    width: 100%;  
    height: 360px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  &.img {
    width: 50px;
    height: 50px;
    margin-left: 8px;
  }
}
.LogOrRegAndRulesForm_dark {
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    height: 40em;
    font-size: 16px;
    font-weight: 300;
    padding-left: 37px;
    padding-right: 37px;
    border-radius: 0.75em;
    background-color: $darkMode;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
  }
  &.field {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &.input {
    height: 35px;
    padding-left: 15px;
    margin-left: -4px;
    border: none;
    border-radius: 0.75em;
    margin-bottom: 20px;
    background: transparentize(white, 0.85);
    color: $textColor;
  }
  &.label {
    color: $textColor;
    margin-bottom: 10px;
    text-transform: lowercase;
    font-weight: 300;
  }
  &.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  &.game-rules {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    height: 216px;
    color: $textColor;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  &.img-form {
    margin-top: 1em;
    width: 100%;
    height: 360px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
  &.img {
    width: 50px;
    height: 50px;
    margin-left: 8px;
  }
}

