@import "../theme";

.Popover{
  &.popover-container {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  &.popover-content {
    position: absolute;
    z-index: 1;
    top: 50%; /* Adjusts the vertical alignment */
    left: 55%;
    transform: translateY(-50%);
    background-color: $accent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    display: block;
    min-width: 100px;
  }

  &.popover-content::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10px; /* Positions the arrow on the left side */
    transform: translateY(-50%);
    border-width: 10px 10px 10px 0;
    border-style: solid;
    border-color: transparent $accent transparent transparent;
  }
}