@import "../../theme";

.LeaderboardInGame {
  &.players{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 42em;
    margin-right: 3px;
    padding-left: 37px;
    padding-right: 37px;
    background-color: $background;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
    border: 3px solid #2a2c2e;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  &.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 24px; 
    font-weight: bold; 
    color: black; 
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%; 
    margin-top: 10px;
    margin-bottom: 10px;
    
  }
  &.avatar{
    width: 40px;
    height: 40px;
    margin-right: 16px;
  }
  &.player{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &.username{
    font-size: 20px;
    font-weight: bold; 
    color: black;
  }
  &.points{
    font-size: 16px;
    font-weight: bold; 
    color: black;
  }
}
.LeaderboardInGame_dark {
  &.players{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 40em;
    margin-right: 3px;
    padding-left: 37px;
    padding-right: 37px;
    background-color: $darkMode;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: $dropShadow;
    border: 3px solid #2a2c2e;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  &.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

  }
  &.avatar{
    width: 40px;
    height: 40px;
    margin-right: 16px;
    color: white;
  }
  &.player{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &.username{
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  &.points{
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
}